<%= form_for @ad, :html => {:multipart => true} do |f| %>

    <% if @ad.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@ad.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @ad.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :metro_station %><br>
      <%= f.text_field :metro_station %>
    </p>

    <p>
      <%= f.label :rooms %><br>
      <%= f.text_field :rooms %>
    </p>


    <fieldset>
      <legend>Image</legend>
      <p>
        <%= image_tag @ad.image.url(:thumb) if @ad.image? %>
      </p>
      <p>
        <%= f.label :image, 'Upload file: ' %><br>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </p>
    </fieldset>

    <p>
      <%= f.submit %>
    </p>
<% end %>