<h1>Listing ads</h1>

<%= form_tag ads_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>


<% if @ads.length > 0 %>
  <table>
    <tr>
      <th>Title</th>
     <th>Description</th>
     <th>Metro Station</th>
     <th>Rooms</th>
     <th>Image</th>
     <th colspan="5"></th>
   </tr>

    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.title %></td>
        <td><%= ad.description %></td>
        <td><%= ad.metro_station %></td>
        <td><%= ad.rooms %></td>
        <td><%= image_tag ad.image.url(:thumb) if ad.image.url %></td>
        <td><%= link_to 'Show', ad_path(ad) %></td>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad_path(ad),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Sorry, nothing found</p>
<% end %>


<%= link_to 'New ad', new_ad_path %>