<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Metro Station:</strong>
  <%= @ad.metro_station %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @ad.rooms %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @ad.image.url if @ad.image.url %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %>
<%= link_to 'Back', ads_path %>